* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0;
    background-color: black;
}

.nav-bar {
    z-index: 100;
    height: 88px;
    position: fixed;
    min-width: 100%;
    background-color: black;
    margin-top: -88px;
}

#nav-logo {
    height: 92px;
    margin-left: 40px;
}

.nav-bar-items {
    float: right;
    margin-right: 50px;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav-bar-items:hover {
    text-shadow: white 0 0 15px;
}

/* Navigation Bar ^ */

#center-div {
    margin: 0 auto;
    width: fit-content;
    margin-top: 88px;
}

.left-panel {
    margin-top: 50px;
    float: left;
    width: 830px;
}

.images {
    width: 820px;
}

.right-panel {
    float: right;
    margin-left: 30px;
    margin-top: 50px;
}

.right-h3 {
    font-weight: bolder;
}

.blue-lines {
    width: 60px;
    height: 8px;
    background-color: aqua;
}

.links {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
}

.links:hover {
    color: aqua;
}

#date {
    margin-top: 35px;
}

.date-links {
    text-decoration: none;
}

.date-links:hover {
    text-shadow: 0 0 15px white;
}

.left-blue-lines {
    width: 300px;
    height: 8px;
    background-color: aqua;
}

.left-h3 {
    font-weight: bold;
}

.three-dots {
    display: inline;
    font-weight: bolder;
    margin-left: 60px;
}

.three-dots-align {
    margin-left: 270px;
}

.left-links {
    font-weight: bold;
    text-decoration: none;
}

.left-links:hover {
    color: aqua;
}

.left-h1 {
    font-size: 25px;
    font-weight: bolder;
}

figcaption {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Last text */

#last-text {
    text-align: center;
    display: block;
    float: left;
    margin-left: 350px;
    margin-top: 100px;
}

.last-links {
    text-decoration: none;
}

.last-links:hover {
    color: aqua;
}