* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0;
    background-color: black;
}

.nav-bar {
    z-index: 100;
    height: 88px;
    position: fixed;
    min-width: 100%;
    background-color: black;
    margin-top: -88px;
}

#nav-logo {
    height: 92px;
    margin-left: 40px;
}

.nav-bar-items {
    float: right;
    margin-right: 50px;
    margin-top: 40px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav-bar-items:hover {
    text-shadow: white 0 0 15px;
}

/* Navigation Bar ^ */

#center-div {
    margin: 0 auto;
    width: fit-content;
    margin-top: 88px;
}

.images {
    width: 1100px;
    margin-top: 20px;
}

.dates {
    margin-left: 5px;
}

.date-links {
    text-decoration: none;
}

.date-links:hover {
    text-shadow: 0 0 10px white;
}

.titles {
    text-decoration: none;
}

.titles:hover {
    color: aqua;
}

.blue-lines {
    width: 200px;
    height: 8px;
    background-color: aqua;
    margin-left: 5px;
}

.description {
    margin-left: 5px;
}

/* Last text */

#last-text {
    text-align: center;
}

.last-links {
    text-decoration: none;
}

.last-links:hover {
    color: aqua;
}